# Annotated follow-along guide: Functions and conditional statements

This notebook contains the code used in the instructional videos from Week 2: Functions and conditional statements.

As a reminder, an in-video message will appear to advise that the video you are viewing contains coding instruction and examples. This follow-along notebook has different sections for each video included in the weekâ€™s content. The in-video message will direct you to the relevant section in the notebook for the specific video you are viewing.

To skip directly to the code for a particular video, use the following links:



1.   **[Defining functions and returning values](#1)**
2.   **[Write clean code](#2)**
3.   **[Use comments to scaffold your code](#3)**
4.   **[Make comparisons using operators](#4)**
5.   **[Use if/elif/else statements to make decisions](#5)**

<a name="1"></a>
## 1. Defining functions and returning values

In [1]:
# The print() function can print text to the screen
print('Black dove, where will you go?')

Black dove, where will you go?

In [2]:
# The type() function returns an object's data type
number = 15

type(number)

int

In [3]:
# The str() function converts an object into a string
number = str(number)

type(number)

str

In [4]:
# Define a function
def greeting(name):

    print('Welcome, ' + name + '!')
    print('You are part of the team!')

greeting('Rebecca')

Welcome, Rebecca!
You are part of the team!

In [5]:
# Define a function to calculate area of triangle
def area_triangle(base, height):
    return base * height / 2

In [6]:
# Use the function to assign new variables and perform calculations
area_a = area_triangle(5, 4)
area_b = area_triangle(7, 3)
total_area = area_a + area_b
total_area

20.5

In [7]:
# Define a function that converts hours, minutes, and seconds to total seconds
def get_seconds(hours, minutes, seconds):
    total_seconds = 3600*hours + 60*minutes + seconds
    return total_seconds

In [8]:
# Use the function to return a result
get_seconds(16, 45, 20)

60320

<a name="2"></a>
## 2. Write clean code

In [9]:
# This code does the same thing for two different people
name = "Marisol"
number = len(name)*9
print("Hello " + name + ". Your lucky number is " + str(number))

name = "Ardashir"
number = len(name)*9
print("Hello " + name + ". Your lucky number is " + str(number))

Hello Marisol. Your lucky number is 63
Hello Ardashir. Your lucky number is 72

In [10]:
# Define a function that simplifies the above code and makes it reusable
def lucky_number(name):
    number = len(name)*9
    print("Hello " + name + ". Your lucky number is " + str(number))

lucky_number("Marisol")
lucky_number("Ardashir")

Hello Marisol. Your lucky number is 63
Hello Ardashir. Your lucky number is 72

In [11]:
# This code requests a number from the user and returns its factorial,
# printing each iteration of the multiplication.
a = input(); y = 1

for i in range(int(a)):
    y = y*(i+1)
    print(y)

4
1
2
6
24

In [12]:
# This function takes an integer as an input and returns its factorial
def factorial(n):
    # Exclude 0 as product, start with 1
    y = 1
    for i in range(int(n)):
        y = y*(i+1)
    return y


# Enter a numerical value between 1-9 in the command line that appears
input_num = input()
# Apply factorial function to an integer input
print(factorial(input_num))

4
24

<a name="3"></a>
## 3. Use comments to scaffold your code

In [13]:
def seed_calculator(fountain_side, grass_width):
    """
    Calculate number of kilograms of grass seed needed for
    a border around a square fountain.

        Parameters:
            fountain_side (num): length of 1 side of fountain in meters
            grass_width (num): width of grass border in meters

        Returns:
            seed (float): amount of seed (kg) needed for grass border
    """
    # Area of fountain
    fountain_area = fountain_side**2
    # Total area
    total_area = (fountain_side + 2 * grass_width)**2
    # Area of grass border
    grass_area = total_area - fountain_area
    # Amount of seed needed (35 g/sq.m)
    seed = grass_area * 35
    # Convert to kg
    seed = seed / 1000

    return seed

In [14]:
seed_calculator(12, 2)

3.92

<a name="4"></a>
## 4. Make comparisons using operators

In [15]:
# > checks for greater than
print(10>1)

True

In [16]:
# == checks for equality
print("cat" == "dog")

False

In [17]:
# != checks for inequality
print(1 != 2)

True

In [18]:
# Some operators cannot be used between different data types
print(1 < "1")

TypeError: '<' not supported between instances of 'int' and 'str'

In [19]:
# Letters that occur earlier in the alphabet evaluate to less than letters from later in the alphabet
# BOTH sides of an `and` statement must be true to return True
print("Yellow" > "Cyan" and "Brown" > "Magenta")

False

In [20]:
# An `or` statement will return True if EITHER side evaluates to True
print(25 > 50 or 1 != 2)

True

In [21]:
# `not` reverses Boolean evaluation of what follows it
print(not 42 == "Answer")

True

<a name="5"></a>
## 5. Use if/elif/else statements to make decisions

In [22]:
# Define a function that checks validity of username based on length
def hint_username(username):
    if len(username) < 8:
        print("Invalid username. Must be at least 8 characters long.")
    else:
        print("Valid username.")

In [23]:
# Define a function that uses modulo to check if a number is even
def is_even(number):
    if number % 2 == 0:
        return True
    return False

In [24]:
is_even(19)

False

In [25]:
# Define a function that checks validity of username based on length
def hint_username(username):
    if len(username) < 8:
        print("Invalid username. Must be at least 8 characters long.")
    elif len(username) > 15:
        print("Invalid username. Cannot exceed 15 characters.")
    else:
        print("Valid username.")

In [26]:
hint_username("ljÃ±kljfÃ±klasdjflkÃ±adjglk{a")

Invalid username. Cannot exceed 15 characters.