# Activity: Address missing data

## Introduction

The datasets that data professionals use to solve problems typically contain missing values, which must be dealt with in order to achieve clean, useful data. This is particularly crucial in exploratory data analysis (EDA). In this activity, you will learn how to address missing data. 

You are a financial data consultant, and an investor has tasked your team with identifying new business opportunities. To help them decide which future companies to invest in, you will provide a list of current businesses valued at more than $1 billion. These are sometimes referred to as "unicorns." Your client will use this information to learn about profitable businesses in general.

The investor has asked you to provide them with the following data: 
- Companies in the `hardware` industry based in either `Beijing`, `San Francisco`, or `London` 
- Companies in the `artificial intelligence` industry based in `London`
-  A list of the top 20 countries sorted by sum of company valuations in each country, excluding `United States`, `China`, `India`, and `United Kingdom`
- A global valuation map of all countries with companies that joined the list after 2020
- A global valuation map of all countries except `United States`, `China`, `India`, and `United Kingdom` (a separate map for Europe is also required)

Your dataset includes a list of businesses and data points, such as the year they were founded; their industry; and their city, country, and continent.

## **Step 1: Imports**

### Import libraries

Import the following relevant Python libraries:
* `numpy`
* `pandas`
* `matplotlib.pyplot`
* `plotly.express`
* `seaborn`

In [ ]:
# Import libraries and modules.

### YOUR CODE HERE ###

### Load the dataset

The dataset is currently in CSV format and in a file named `Unicorn_Companies.csv`. Import it using `pandas` and save it as `df_companies`.

In [ ]:
# Load data.

### YOUR CODE HERE ###

## **Step 2: Data exploration** 

Explore the dataset and answer questions that will guide your management of missing values.

### Display top rows

Display the first 10 rows of the data to understand how the dataset is structured.

In [ ]:
# Display the first 10 rows of the data.

### YOUR CODE HERE ###

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

Refer to the materials about exploratory data analysis in Python.

</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

  There is a function in the `pandas` library that allows you to get a specific number of rows from the top of a DataFrame.
 

</details>

<details>
  <summary><h4><strong>Hint 3</strong></h4></summary>

  Call the `head()` function from the `pandas` library. 

</details>

### Statistical properties of the dataset

Use `pandas` library to get a better sense of the data, including range, data types, mean values, and shape. 

Review this information about the dataset by using the `pandas` library on the `df_companies` DataFrame and answering the following questions below.

In [ ]:
# Get the shape of the dataset.

### YOUR CODE HERE ###

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

Refer to the material about exploratory data analysis in Python.

</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

  Print the 'shape' of the DataFrame.

</details>

**Question: What is the shape of the dataset?**

[Write your response here. Double-click (or enter) to edit.]

In [ ]:
# Get the data types and number of non-null values in the dataset.

### YOUR CODE HERE ###

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

Refer to the material about exploratory data analysis in Python.

</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

  Use the 'info()' method of the DataFrame.

</details>

**Question: What are the data types of various columns?**

[Write your response here. Double-click (or enter) to edit.]

**Question: How many columns contain non-null values less than the total rows in the dataset?**

[Write your response here. Double-click (or enter) to edit.]

In [ ]:
# Get the range of different values in the dataset.

### YOUR CODE HERE ###

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

Refer to the material about exploratory data analysis in Python.

</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

  There is a function in the `pandas` library that allows you to find descriptive statistics for the numeric columns in a DataFrame.
 

</details>

<details>
  <summary><h4><strong>Hint 3</strong></h4></summary>

  Call the `describe()` function from the `pandas` library.

</details>

**Question: In what year was the oldest company founded?**

[Write your response here. Double-click (or enter) to edit.]

### Data preprocessing

In order to answer the investor's questions, some data preprocessing steps are required. The first step is to add the `Year Joined` column to the dataset.

In [ ]:
# Create a new column "Year Joined" from "Date Joined".

### YOUR CODE HERE ###

Now, prepare the dataset to create a sum of valuations in each country. Currently, the `Valuation` is a string that starts with a `$` and ends with a `B`. Because this column is not in a numeric datatype, it is impossible to properly sum these values. To convert `Valuation` column to numeric, first remove the `$` and `B` symbols from the column and save the results to a new `Valuation_num` column.

In [ ]:
# Remove the extra characters from the Valuation column.

### YOUR CODE HERE ###

In [ ]:
# Convert the column to numeric

### YOUR CODE HERE ###

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

  Columns in different data types can be converted to numeric data type using `pd.to_numeric()`. 

</details>

### Find missing values

The unicorn companies dataset is fairly clean, with few missing values.

In [ ]:
# Find the number of missing values in each column in this dataset.

### YOUR CODE HERE ###

 **Question: How many missing values are in each column in the dataset?**

[Write your response here. Double-click (or enter) to edit.]

### Review rows with missing values

Before dealing with missing values, it's important to understand the nature of the missing value that is being filled. Display all rows with missing values from `df_companies`.

In [ ]:
# Filter the DataFrame to only include rows with at least one missing value.
# Assign the filtered results to a variable named "df_rows_missing" and display the contents of the variable.

### YOUR CODE HERE ###

**Question: Which column has the most data missing?**

[Write your response here. Double-click (or enter) to edit.]

### Context-specific missing values

Sometimes, there may be other types of values that are considered missing, such as empty strings and `-1`, `0`, `NaN`, and `NA`. Using one representation for all these missing values is beneficial. Replace any missing values in the dataset with `np.nan`, accessed from the `numpy` library, to simplify the missing values imputation process. 


Without replacing the original DataFrame, replace 'Asia' with `np.nan`. Then, find the number of missing values in the dataset.

In [ ]:
# Find the number of missing values after replacing 'Asia' with `np.nan`.

### YOUR CODE HERE ###

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

 Use `isna().sum()` to get the sum of missing values.

</details>

**Question: How many values went missing after changing 'Asia' with `np.nan`?**

[Write your response here. Double-click (or enter) to edit.]

**Question: What steps did you take to find missing data?**

[Write your response here. Double-click (or enter) to edit.]

**Question: What observations can be made about the forms and context of missing data?**

[Write your response here. Double-click (or enter) to edit.]

**Question: What other methods could you use to address missing data?**

[Write your response here. Double-click (or enter) to edit.]

## Step 3: Model building

Think of the model you are building as the completed dataset, which you will then use to inform the questions the investor has asked of you.

### Two ways to address missing values

There are several ways to address missing values, which is critical in EDA. The two primary methods are removing them and missing values imputation. Choosing the proper method depends on the business problem and the value the solution will add or take away from the dataset.

Here, you will try both.

To compare the the effect of different actions, first store the original number of values in a variable.

In [ ]:
# Store the total number of values in a variable.

### YOUR CODE HERE ###

Now, remove the missing values and count the total number of values in the dataset. Remove all rows containing missing values and store the total number of cells in a variable called `count_dropna_rows`.

In [ ]:
# Drop the rows containing missing values. 

### YOUR CODE HERE ###

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

  Use `dropna()` function to drop columns with missing values.

</details>

Now, remove all columns containing missing values and store the total number of cells in a variable called `count_dropna_columns`.

In [ ]:
# Drop the columns containing missing values.

### YOUR CODE HERE ###

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

Provide `axis=1` to `dropna()` function to drop columns with missing values.

</details>

Next, print the percentage of values removed by each method and compare them.

In [ ]:
# Print the percentage of values removed by dropping rows.

### YOUR CODE HERE ###

# Print the percentage of values removed by dropping columns.

### YOUR CODE HERE ###

**Question: Which method was most effective? Why?**

[Write your response here. Double-click (or enter) to edit.]

Try the second method: imputation. Begin by filling missing values using the backfill method. Then, show the rows that previously had missing values.

In [ ]:
# Fill missing values using 'backfill' method.

### YOUR CODE HERE ###

# Showing the rows that previously had missing values.

### YOUR CODE HERE ###

**Question: Do the values that were used to fill in for the missing values make sense?**

[Write your response here. Double-click (or enter) to edit.]

Another option is to fill the values with a certain value, such as 'Unknown'. However, doing so doesn’t add any value to the dataset and could make finding the missing values difficult in the future. Reviewing the missing values in this dataset determines that it is fine to leave the values as they are. This also avoids adding bias to the dataset.

## Step 4: Results and evaluation

Now that you've addressed your missing values, provide your investor with their requested data points.

### Companies in the `Hardware` Industry
Your investor is interested in identifying unicorn companies in the `Hardware` industry and one of the following cities: `Beijing`, `San Francisco`, and `London`. They are also interested in companies in the `artificial intelligence` industry in `London`. This information is provided in the following DataFrame. 

You have learned that the `pandas` library can be used to `merge()` DataFrames. Merging is useful when two or more DataFrames with similar columns exist that can be combined to create new DataFrames. 

Complete the code by merging this DataFrame with `df_companies` DataFrame and create a new DataFrame called `df_invest`.

In [ ]:
# Investing search criteria provided as a DataFrame.

### YOUR CODE HERE ###

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

  Review the material about merging DataFrames.

</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

  Use `merge()` to merge datasets.

</details>

### List of countries by sum of valuation

Group the data by `Country/Region` and sort them by the sum of 'Valuation_num' column.

In [ ]:
#Group the data by`Country/Region`

### YOUR CODE HERE ###


#Print the top 15 values of the DataFrame.

### YOUR CODE HERE ###

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

  Review the related material about merging DataFrames.

</details>

**Question: Which countries have the highest sum of valuation?**

[Write your response here. Double-click (or enter) to edit.]

Your investor specified that the 4 countries with the highest sum of valuation should not be included in the list. Start by creating a boxplot to visualize the outliers.

In [ ]:
# Create a boxlot to identify outliers.

### YOUR CODE HERE ###

# Show the plot.

### YOUR CODE HERE ###

In order to visualize the rest of the data properly, consider United States, China, India, and the United Kingdom outliers and remove them.

In [ ]:
# Remove outlier countries.

### YOUR CODE HERE ###

Now, the data is ready to reveal the top 20 countries with highest company valuations. A data visualization, `sns.barplot` can be used. Complete the code below to plot the data.

In [ ]:
# Create a barplot to compare the top 20 countries with highest company valuations.

### YOUR CODE HERE ###

# Show the plot.

### YOUR CODE HERE ###

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

  Select the top 20 rows in `df_companies_sum_outliers_removed`

</details>

<details>
  <summary><h4><strong>Hint 2</strong></h4></summary>

  Select the top 20 rows in `df_companies_sum_outliers_removed` by using `head(20)` function.

</details>

### Plot maps

Your investor has also asked for: 
 - A global valuation map of all countries with companies that joined the list after 2020
 - A global valuation map of all countries except `United States`, `China`, `India`, and `United Kingdom` and a separate map for Europe 

To create these, plot the data onto maps.

You have learned about using `scatter_geo()` from `plotly.express` library to create plot data on a map. Create a `scatter_geo()` plot that depicts the countries with valuation of companies joined after 2020.

In [ ]:
# Plot the sum of valuations per country.

### YOUR CODE HERE ###

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

  Filter the `df_companies` by 'Year_Joined'.

</details>

In [ ]:
# Plot the sum of valuations per country.

### YOUR CODE HERE ###

# Show the plot.

### YOUR CODE HERE ###

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

  Use the code in the previous step to complete this section.

</details>

**Question: How is the valuation sum per country visualized in the plot?**

[Write your response here. Double-click (or enter) to edit.]

To create the same map for `europe` only, update the `fig` object to add a new title and also limit the scope of the map to `europe`.

In [ ]:
# Update the figure layout.

### YOUR CODE HERE ###

# Show the plot again.

### YOUR CODE HERE ###

<details>
  <summary><h4><strong>Hint 1</strong></h4></summary>

Enter a new text title as string and enter 'europe' to filter `geo_scope`.

</details>

**Question: What steps could you take to further analyze the data?**

[Write your response here. Double-click (or enter) to edit.]

## Conclusion

**What are some key takeaways that you learned during this lab?**

[Write your response here. Double-click (or enter) to edit.]

**How would you present your findings from this lab to others? Consider the information you would provide (and what you would omit), how you would share the various data insights, and how data visualizations could help your presentation.**

[Write your response here. Double-click (or enter) to edit.]

**Reference**

[Bhat, M.A. *Unicorn Companies*](https://www.kaggle.com/datasets/mysarahmadbhat/unicorn-companies)